---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <!---->
  <style>
    
        .move_right {
           margin-left:57%;
             }
  </style>
  <script>
    function openWin() {
      window.open("/myblog/Covid-News",'_top');
    }
    function openWin1() {
      window.open("/myblog/Tech-News",'_top');
    }
  </script>
    <form>
      <input type="button" value="Covid-News" onclick="openWin()" style="color: cornflowerblue;"> <input type="button" value="Tech-News" onclick="openWin1()"style="color: cornflowerblue;"> <button class="move_right" type="button" style="color: cornflowerblue;"
      onclick="document.getElementById('demo').innerHTML = Date()">
      Click To Show Time.</button>
      <p id="demo" style="color: cornflowerblue;"></p>
    </form>
    

<!---->

<br>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "All Posts " }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>