---
layout: default
---
  <script type="text/javascript" src="/myblog/assets/js.js"></script>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <!---->
  
    <form>
      <span>
      <input type="button" value="Covid-News" onclick="openWin()" style="color: cornflowerblue; border-radius: 15px;"> <input type="button" value="Tech-News" onclick="openWin1()"style="color: cornflowerblue; border-radius: 15px"> <button class="move_right" type="button" style="color: cornflowerblue; border-radius: 15px"
      onclick="document.getElementById('demo').innerHTML = Date()">Show Time.</button>
      <p id="demo" style="color: cornflowerblue;"></p>
    </span>
    </form>
    

<!---->

<br>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "All Posts " }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>